/* body {
    background: radial-gradient(#e5e5e5, #ffff, #e5e5e5);
} */

.card{
    width:20rem;
}

.card:hover{
    box-shadow: 5px 10px 20px 1px rgba(255, 255, 255, 0.9)!important;
}

.overflow {
    overflow: hidden;
    position: relative;
    text-align: center;
    justify-content: center
}

.card-img-top {
    position: relative;
    justify-content: center;
    align-items: center;
    transform: scale(1);
    transition: transform 0.5s ease;
}

.card-img-top:hover{
    transform:scale(1.5)
}

.card-bg {
    position: absolute;
    bottom: 5%;
    left: 40%;
    background: rgba(0, 0, 0, 0);
}

.card-button {
    position: absolute;
  }